@media screen and (max-width: 767px) {
    .certificate_login > p > input{
        font-size: 23px;
    }
    .certificate_login > .certificate_button > a {
        font-size: 23px;
    }
    .footer > p {
        font-size: 20px;
    }
    .certificate_text {
        font-size: 26px;
    }
    .certificate_button {
        margin-bottom: 80px;
    }
    .link_button > a > img {
        padding: 5px 145px;
    }
}
@media screen and (max-width: 521px) {
    .certificate_login > p > input{
        font-size: 20px;
    }
    .certificate_login > .certificate_button > a {
        font-size: 20px;
    }
    .footer {
        height: 80px;
    }
    .footer > p {
        font-size: 20px;
    }
    .certificate_login > p > input {
        margin-bottom: 60px;
    }
    .certificate_text {
        font-size: 20px;
        margin: 40px 0px 40px 0px;
    }
    .link_text {
        font-size: 21px;
    }
    .email {
        font-size: 26px;
    }
    .certificate_button {
        margin-bottom: 80px;
        margin-top: 20px;
    }
    .link_button > a > img {
        padding: 5px 135px;
        width: 95%;
    }
}
@media screen and (max-width: 480px) {
    .certificate_login > p > input{
        font-size: 16px;
    }
    .certificate_login > .certificate_button > a {
        font-size: 16px;
        padding: 20px 80px;
    }
    .footer {
        height: 80px;
    }
    .footer > p {
        font-size: 16px;
    }
    .certificate_login > p > input {
        margin-bottom: 50px;
    }
    .certificate_text {
        font-size: 20px;
    }
    .link_text {
        font-size: 20px;
    }
    .email {
        font-size: 20px;
    }
    .certificate_button {
        margin-bottom: 70px;
        margin-top: 20px;
    }
    .link_button > a > img {
        padding: 5px 97px;
        width: 90%;
    }
}
@media screen and (max-width: 390px) {
    .certificate_login > p > input{
        font-size: 13px;
    }
    .certificate_login > .certificate_button > a {
        font-size: 13px;
    }
    .footer {
        height: 60px;
    }
    .footer > p {
        font-size: 13px;
    }
    .certificate_login > p > input {
        margin-bottom: 30px;
    }
    .certificate_text {
        font-size: 16px;
        margin: 25px 0px 30px 0px;
    }
    .link_text {
        font-size: 16px;
    }
    .email {
        font-size: 16px;
    }
    .certificate_button {
        margin-bottom: 50px;
    }
    .link_button > a > img {
        padding: 5px 90px;
    }
}